<%= render "carousel" %>
<%= render "jumbotron" %>

<div class="row">
  <h2>精選輕食</h2>
  <% @products.each do |product| %>
    <div class="col-md-3 col-sm-4 col-xs-12">
      <%= link_to product_path(product) do %>

        <div class="thumbnail">

          <% if product.photo.present? %>
            <%= image_tag(product.photo.image.medium.url) %>
          <% else %>
            <%= image_tag("http://placehold.it/400x400&text=No Pic") %>
          <% end %>

          <div class="caption">
            <h4>
              <%= product.title %>
            </h4>
            <p class="product-price">$ <%= product.price %></p>
          </div>

        </div>
      <% end %>
    </div>
  <% end %>
</div>

<hr>

<%= render "common/footer" %>
